

.squareContainer {
    width:50%;
    max-width: 50%;
    display: inline-block;
    max-height: 100%;
    padding:5px;
    flex:1;
    img {
        width:100%;
        height: 100%;
    }
}
.rectangleContainer {
    width:50%;
    max-width: 50%;
    max-height: 100%;
    padding:5px;
    display: inline-block;
    flex-grow:1;
   
    img {
        width:100%;
        height: 100%;
    }
    
}
.portfolioContainer {
    display: grid;
    grid-template-rows: auto  auto ;
    background-color:  #2b2b2b;

    .portfolioHeader {
        display: flex;
        align-items: center;

        font-size: larger;
        font-weight: bold;
        color:white;
        flex-direction: column;
        h2 {
           
            color:#c5a47e
        }
        p {
            padding:1rem;
            text-align: justify;
          
        }

    }
    .portfolioBody {
        display: flex;
        justify-content: stretch;
        width:100vw;
        flex-wrap: wrap;
        flex:1;
        .portfolioHolder {
            max-width: 100%;
            max-height: 50%;
            display: flex;
            justify-content: stretch;
        }
        
    }
}

.MuiDialog-root.inspectorDetails {
    z-index: 33333;
    .MuiDialog-container {
        .MuiPaper-root {
            width:100vw;
            height:95vh;
            max-width: 100%;
            max-height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            
        }
        .MuiDialogContent-root {
            position: relative;
            .closeButton {
                position:absolute;
                top:0;
                left:0;
                font-size: 2em;
                color:white;
                transition: .2s all;
                &:hover {
                    font-size: 4em;
                }
            }

            .leftArrow {
                position: absolute;
                left:0;
                top:50%;
                color:white;
                font-size: 4em;
                cursor: pointer;
                
            }
            .rightArrow {
                position: absolute;
                right: 0;
                top:50%;
                color:white;
                font-size: 4em;
                cursor: pointer;
            }
        }
        .MuiDialogActions-root {
            max-width: 100%;
            overflow-x: scroll;
            display: inline;
            scroll-behavior: smooth;
            scrollbar-width: none;
            &::-webkit-scrollbar-thumb {
                background-color: transparent;
              
            }
            &::-webkit-scrollbar {
               
                display:none;
                
            
            }
            
            .scrollableContainer {
               min-width:fit-content;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: nowrap;
                img {
                    width:40px;
                    height: 40px;
                    margin:0 0.5em;
                    cursor: pointer;
                    
                }
                img.selectedImage {
                    box-shadow: 3px 4px 5px white;
                    border:5px solid white;
                }
            }
        }
    }
}

@media screen  and (max-width:1025px){
    .portfolioContainer {
        .portfolioBody {
            flex-direction: column;
            .portfolioHolder {
                flex-direction: column;
                min-height: 100vh;
            }
        }
    }
    .rectangleContainer {
     
        width:100%;
        height: 25%;
        max-width: 90%;
    }
    .squareContainer {
        width:90%;
        height: 50%;
        max-width: 100%;
    }
}
@media screen and (max-width:501px){
    .portfolioContainer {
        .portfolioHeader {
            overflow: hidden;
            p {
               
               
            }
        }
    }
    .MuiDialog-root.inspector {
        .MuiDialog-container {
            .MuiPaper-root {
                max-width:100%;
                width: 100%;
                .MuiDialogContent-root {
                    img {
                        max-width: 100%;
                    }
                }
            }
    
        }
    }
    .MuiDialog-root.inspectorDetails {
      
        .MuiDialog-container {
            .MuiPaper-root {
               
                
            }
            .MuiDialogContent-root {
              
                .closeButton {
                    position:absolute;
                    top:0;
                    left:0;
                    font-size: 2em;
                    color:white;
                    transition: .2s all;
                    &:hover {
                        font-size: 4em;
                    }
                }
    
                .leftArrow {
                    position: absolute;
                    left:0;
                    top:80%;
                    color:white;
                    font-size: 4em;
                    cursor: pointer;
                    
                }
                .rightArrow {
                    position: absolute;
                    right: 0;
                    top:80%;
                    color:white;
                    font-size: 4em;
                    cursor: pointer;
                }
            }
            .MuiDialogActions-root {
                max-width: 100%;
                overflow-x: hidden;
                display: inline;
                scroll-behavior: smooth;
                .scrollableContainer {
                   min-width:150vw;
                    display: flex;
                    justify-content: space-evenly;
                    flex-wrap: nowrap;
                    img {
                        width:40px;
                        height: 40px;
                    }
                    img.selectedImage {
                        box-shadow: 3px 4px 5px white;
                        border:5px solid white;
                    }
                }
            }
        }
    }
}