.homepageFiveContainer {
    scrollbar-width: thin;
    display:inline-block;
   
    min-height: 100vh;
    background-color: #272727;
    grid-row: 4/4;
    .homepageFiveBody {
        width:100%;
        height: 100%;
        .title {
            color:white;
            text-align: center;
            span {
                color:var(--pieg)
            }
        }
        .MuiImageList-root {
            .MuiImageListItem-root {
                cursor: pointer;
            }
        }
    }
    & ::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}
@media only  screen and (max-width:501px) {
    .homepageFiveContainer {
       
    }
}