
.homepageSectionTwoContainer {
    grid-row:2/2;
    padding:1em;
    .homepageTwoTitle {
        color:white;
        text-align: center;
        font-weight: bold;
        font-size:2.5rem;
        letter-spacing: 3px;
        span {
            color:#c5a47e;
        }
    }
    .partOne {
        color:white;
        justify-content: space-evenly;
        padding:2em 2em 0 2em;
        .partOneTitle {
 
            font-weight: bold;
            span {
                color:#c5a47e;
            }
        }
        .partOneBody {
            text-align: justify;
            max-width: 100%;
            overflow-y: scroll;
        }
    }
    .partTwo {
        color:white;
        justify-content: space-evenly;
        padding:2em 2em 0 2em;
        .partTwoTitle {
           
            font-weight: bold;
            span {
                color:#c5a47e;
            }
        }
        .partTwoBody {
            .MuiGrid-root {
                img {
                    width:60px
                }
            }
        }
        
    }
    .partThree {
        justify-content:center;
        align-items:center;
        padding:2em 2em 0 2em;
        display:flex;
        img {

            max-width: 100%;
            max-height: 100%;
        }
    }
}
@media only screen  and (max-width:500px) {
    .homepageSectionTwoContainer {
        .partTwo {
            padding:10px;
            padding-left: 0;
            .partTwoBody {
                .MuiGrid-root {
                    img{
                        width:40px;
                    }
                }
            }
        }
        .partThree {
            padding:10px;
            padding-right: 0;
        }
    }
}