body {
  width:100vw
}
.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  scrollbar-color: rgba(197,164,125,.95);
  scrollbar-width: none;
  font-family:'Raleway','Roboto';

}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative;
  
}

