body {
  margin: 0;
  font-family:  'Roboto';
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {

max-width: 100vw;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
::-webkit-scrollbar-thumb {
    background:rgba(197,164,125,.95);
  }
::-webkit-scrollbar {
  width:0.4rem
}  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,img {
  margin:0
}
a {
  text-decoration: none;
}