
.contactsContainer {
    grid-row: 2/2;
    display: grid;
    grid-template-rows: 60vh 1fr 1fr 1fr ;
    color:white;
    background-color:  #2b2b2b;
    row-gap: 6em;
    padding-bottom:5rem;
    .contactsTitle {
        grid-row: 1/1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60vh;
   
        h1 {
            font-size: 3rem;
            display: flex;
            justify-content: center;
            width: 50%;
            text-transform: uppercase;
            letter-spacing: 5px;


        }
    }
    .contactsInfo {
        grid-row: 2/2;
        display: flex;
        height: 100vh;
        max-height: 100vh;
        .googleMap{
            width:50%;
            height:100vh;
        }
        .contactsAll {
           
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            font-size: x-large;
            position: relative;
            background: rgba(197,164,125,.95) url('../../images/back1.jpg');
            background-blend-mode: overlay;
            background-size: cover;
            padding :3rem 2rem;
            max-height: 100%;
            .contactsWord {
                transform: rotate(90deg);
                z-index: 1;
                position: absolute;
                font-size: 6rem;
                text-transform: uppercase;
                color:white;
                left:40%;
                opacity:.1;
                font-weight: bold;

            }
            .info {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 50%;
                .title {
                    display: flex;
                    width:50%;
                    justify-content: space-evenly;
                    align-items: center;
                    font-size: 2rem;
                }
                .body{
                    padding-left: 3rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    
                }
            }

        }

    }
    .mapContainer{
        grid-row: 3/3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        h3 {
            display: flex;
            justify-content: center;
            font-size: xx-large;
            letter-spacing: 4px;
            text-transform: uppercase;
            span {
                color: #c5a47e;
            }
        }
        .mapImageContainer {
            
            width:100%;
            position: relative;
            img {
                width:100%;
                height: auto;
            }
            .markContainer{
                position:absolute ;
                display:flex;
                flex-direction: column-reverse;
                align-items: center;
                border-radius: 50%;
                background-color:#c5a47e ;
                width:1rem;
                height:1rem;
                cursor: pointer;
               
             
                .markInfo {
                    background-color: black;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    border:5px;
                    color:white;
                    flex-direction: column;
                    padding: 1rem;
                    z-index: 1;
                    position: relative;
                    bottom: 1rem;
                    opacity: 0.7;
                    .MuiDivider-root {
                        width:80%;
                        background-color: whitesmoke;
                        opacity: 0.7;
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
                    }
                    .title {
                        display: flex;
                        justify-content: flex-end;
                        font-size: x-large;
                        h5 {
                            margin-top:0;
                            margin-bottom: 1rem;
                            color:#c5a47e ;
                            
                        }
                    }
                    .body {
                        display: flex;
                        flex-direction: column;
                        text-align: justify;
                        align-items: left;
                        margin-top: 0.5rem;
                    }
                    
                }
            }
            .markContainer::before {
                content: '';
                border: 16px solid transparent;
                border-top: 16px solid black;;
                background-color: transparent;
                width:0;
                height: 0;
                position: relative;
                bottom:1rem;
            }
    
            .unHoveredMark {
                position:absolute ;
                display:flex;
                flex-direction: column-reverse;
                align-items: center;
                border-radius: 50%;
                background-color:#c5a47e ;
                width:1rem;
                height:1rem;
                cursor: pointer;
            }
            .unHoveredMark::before {
                content:'';
                border-top:none;
                border:none;
            }
        }
    }
}
@media only screen and (max-width:501px) {

    .contactsContainer {
        grid-template-rows: 60vh 1fr 100vh;
        .contactsTitle {
            justify-content: center;
            h1 {
                width:auto;
                font-size: 2rem;
            }
        }
        .contactsInfo {
            flex-direction: column;
            .googleMap {
                width:auto;
            }
            .contactsAll {
                font-size: large;
                padding:3rem;
                .contactsWord {
                    left:10%;
                }
                .info {
                    .body {
                        p {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
        .mapContainer {
            h3 {
                font-size: large;
            }
        }
    }
}